/*------------------------------------------------------------------------------Variables */
@import 'variables';
/*------------------------------------------------------------------------------Normalizador */
@import 'normalize';
/*------------------------------------------------------------------------------Animations */
@import 'animations';


/*------------------------------------------------------------------------------Main Styles */
#app{
  position: absolute;
  margin: 0 auto;
  max-width: 320px;
  height: 60vh;
  overflow: hidden;
  overflow-y: scroll;
  top: 50%;
  left: 0;
  right: 0;
  transform: translate3d(0, -50%, 0);
}

.box{
  border-bottom: 1px solid $border-color;
  &:last-child{
    border: 0 none;
  }
}

/*------------------------------------------------------------------------------Loader */
.box-loader{
  position: absolute;
  background-color: rgba(255,255,255,0.5);
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.loader {
  border: 3px solid #cccccc;
  border-top: 3px solid $primary;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 35%;
}
